@model MvcApplication1.Models.Libro

@{
    ViewBag.Title = "CreateGratis";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CreateGratis</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Libro</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.titulo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.titulo)
            @Html.ValidationMessageFor(model => model.titulo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.portada)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.portada)
            @Html.ValidationMessageFor(model => model.portada)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.descripcion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.descripcion)
            @Html.ValidationMessageFor(model => model.descripcion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.fecha)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.fecha)
            @Html.ValidationMessageFor(model => model.fecha)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.publicado)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.publicado)
            @Html.ValidationMessageFor(model => model.publicado)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.numDen)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
