@model Entrega1GenNHibernate.EN.GrayLine.LibroEN


@{
    ViewBag.Title = @Html.DisplayFor(model => model.Titulo);
    Layout = "~/Views/Shared/_Layout.cshtml";
}




    <div class="page-header text-center" style="background-color:red">
        <h1>  @Html.DisplayFor(model => model.Titulo)</h1>
    </div>
    <section class="container-fluid">
        <section class="row">
            <div class="col-sm-12 col-md-6 col-lg-3">
                <img style="height:auto" src=@Html.DisplayFor(model => model.Portada) alt="Portada libro @Html.DisplayFor(model => model.Titulo) ">
            </div>

        
            <div class="col-sm-12 col-md-6 col-lg-5" style="background-color:yellow">
                <h2>@Html.DisplayNameFor(model => model.Descripcion)</h2>
                @Html.DisplayFor(model => model.Descripcion)
            </div>
            <div class="col-sm-12 col-md-12 col-lg-4" style="background-color:pink">
              @Html.Action("listadoCapituloPartial","Capitulos", new { idLibro = Model.Id_libro })
            </div>
        </section>

            <div class="display-label">
                @Html.DisplayNameFor(model => model.Fecha)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Fecha)
            </div>
        <div class="display-field">
          
        
        </div>
    </section>
            @Html.ActionLink("Ver Capitulos", "../Capitulos/listadoCapitulo", new { idLibro = Model.Id_libro })

            @Html.ActionLink("Ver Comentarios", "../Comentarios/listaComentario", new { idLibro = Model.Id_libro })

            @Html.Action("listaComentario", "Comentarios", new { idLibro = Model.Id_libro })
    <p>

      
        @Html.ActionLink("Details", "Details", new {/* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id_libro /* id=Model.PrimaryKey */ }) |
        @Html.ActionLink("Borrar", "Delete", new { id = Model.Id_libro /* id=Model.PrimaryKey */ }) |
        @Html.ActionLink("Back to List", "Index")
  
    </p>
