@model IEnumerable<Entrega1GenNHibernate.EN.GrayLine.LibroEN>

@{
    ViewBag.Title = "Libreria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <p>
        @Html.ActionLink("Create New", "CreateGratis")
    </p>
  @{/*  <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id_libro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Portada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publicado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Baneado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Num_denuncias)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id_libro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Portada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publicado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Baneado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Num_denuncias)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id_libro /* id=item.PrimaryKey *//* }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id_libro/* id=item.PrimaryKey *//* }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey *//* })
            </td>
        </tr>
    }
    
    </table>
*/}
<section class="container-fluid">
    <section class="row">
        @foreach (var item in Model)
        {


            <section class="col-sm-12 col-md-6  col-lg-3" style="margin-top:10px;">
                <a href="@Url.Action("Details","Libreria", new{id = item.Id_libro})" class="thumbnail">
                    <img src="@Html.DisplayFor(modelItem => item.Portada)">
                    <div class="caption">
                        <h2>@Html.DisplayFor(modelItem => item.Titulo)</h2>
                        <h3>@Html.DisplayFor(modelItem => item.Id_libro)</h3>
                        <p>@Html.DisplayFor(modelItem => item.Descripcion)</p>
                    </div>
                </a>
            </section>


        }
    </section>
</section>




